<div>
    <div class="row">
        <div class="col-lg-3 col-12">
            <label>Nome</label>
            <input [(ngModel)]="model.nome" type="text">
        </div>
        {{model.cpf}}
        <div class="col-lg-2 col-12">
            <label>CPF</label>
            <input type="text" [(ngModel)]="model.cpf" />
        </div>

        <div class="col-lg-2 col-12">
            <label>Matricula</label>
            <input type="text" disabled [(ngModel)]="model.cpf" />
        </div>

        <div class="col-lg-2 col-12">
            <label>Status</label>
            <input type="text" />
        </div>

    </div>
</div>